---
import Section from "../Section.astro"

import { projects } from "@cv"
---

<Section title="# Proyects">

    <ul>
        {
            projects.map(
                ({name, isActive, description, url, highlights }) => {

                    return (
                        <li>
                            <article>
                                <header>
                                    <a href={url} title={`Ver el proyecto ${name}`}>
                                        <h3>{name}</h3>
                                    </a>
                                    <p>{description}</p>
                                </header>
                                <footer>
                                            {
                                                highlights.map((highlight) => {
                                                    return(
                                                        <span>{highlights}</span>
                                                    )
                                                }
                                            
                                                )
                                            }    
                                </footer>
                            </article>
                        </li>
                    )
                }
            )
        }
    </ul>

</Section>



<style>
    ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1rem;
        text-wrap: wrap;
    }

    ul span {
        font-weight: 450;
    }

    article {
        border-radius: 8px;
        border: 1px solid #cfcfcf;
        gap: 16px;
        display: flex;
        flex-direction: column;
        padding: 16px;
        height: 100%;
        transition: linear 0.4s;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
        font-size: 0.6rem;
    }

    footer span {
        border-radius: 6px;
        background: transparent;
        color: rgb(22, 44, 78);
        font-size: 0.7rem;
        font-weight: 550;
        padding: 0.2rem 0.6rem;
    }


    article:hover {
        color: rgb(120, 122, 125);
        background-color: #c9d3d0;
    }

    h3 {
        font-weight: 500;
        color: #111;
    }

    h3:hover {
        color: rgb(85, 169, 141);
    }

</style>